.parent{
    width:100%;
    height:100%;
  
    display: flex;
   justify-content: center;
}

.tabel{
    width:50%;
    text-align: center;
   
}

.main-row {
    font-size: 30px;

}

table{
    width:100%;
    font-family: 'Poppins';
    font-weight: 300;
}

table td{
    font-size:20px;
}


.test{
    background-color: red;
}

.error{
    color:red;
}
